.progress-bar {
  margin-top: 5px;
  width: 40%;
  height: 8px;
  border-radius: 50px;
  background-color: #dadada;
  overflow: hidden;

  .bar {
    display: block;
    height: 100%;

    transition: all 0.3s ease-in-out;
  }
}
