@import '../../../constants/colors.scss';

.menu-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  background-color: $theme-secondary-color;
  color: white;

  .title {
    display: block;
    margin: auto 0;
    font-size: 24px;
  }
}
