@import '../../../constants/colors.scss';

$switch-width: 70px;
$switch-margin: 5px;
$switch-height: 40px;
$slider-radius: calc(#{$switch-height} - (#{$switch-margin} * 2));

.switch {
  .switch-background {
    position: relative;
    margin-top: 10px;
    width: $switch-width;
    height: $switch-height;
    position: relative;
    background-color: $theme-secondary-color-lighter-40;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &.on {
      background-color: $theme-primary-color;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      background-color: white;
      top: $switch-margin;
      left: $switch-margin;

      width: $slider-radius;
      height: $slider-radius;
      border-radius: 50%;

      transition: left 0.2s ease-in-out;

      &.on {
        left: calc(#{$switch-width} - #{$slider-radius} - #{$switch-margin});
      }
    }
  }
}
