@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700&display=swap');
@import 'constants/colors.scss';
@import 'constants/constants.scss';
@import 'constants/shadows.scss';

.app {
	margin: 0 auto;
	max-width: 960px;
	height: 100%;
	font-family: 'Libre Franklin', sans-serif;
	overflow: hidden;
	overflow-y: auto;
	color: $dark-text;

	background-color: #f0f0f0;

	button {
		position: relative;

		&.primary {
			color: white;
			background-color: $theme-primary-color;
			box-shadow: 0 6px $theme-primary-color-darker-20;

			&:active {
				top: 4px;
				box-shadow: 0 2px $theme-primary-color-darker-20;
			}
		}

		&.secondary {
			color: white;
			background-color: $theme-secondary-color-lighter-20;
			box-shadow: 0 6px $theme-secondary-color-lighter-10;

			&:active {
				top: 4px;
				box-shadow: 0 2px $theme-secondary-color-lighter-10;
			}
		}
	}

	.card {
		padding: 20px;
		margin: $margin-size;
		background-color: white;
		border-radius: 5px;
		box-shadow: $material-shadow-near;
	}

	form {
		.form-group {
			margin: 10px 0;

			label {
				font-size: 18px;
			}

			input {
				margin-top: 10px;
				padding: 15px;
				font-size: 18px;
				border-radius: 5px;
				border: 1px solid $theme-secondary-color-lighter-40;
				outline: none;

				&:focus {
					border-color: $theme-primary-color-lighter-10;
				}

				&:active {
					outline: none;
				}
			}
		}
	}

	h2 {
		margin-bottom: 10px;
		font-size: 24px;
		font-weight: bold;
	}

	// OS-based text selection color is too mainstream!
	::selection {
    background-color: $theme-primary-color;
    color: $dark-text;
	}

	a {
		color: unset;
		text-decoration: none;
	}

	button {
		padding: 16px;

		border-radius: 5px;
		border: 0;
		outline: 0;
		cursor: pointer;

		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;

		background-color: black;
		color: white;
	}
}

// Reset CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
