@import '../../constants/shadows.scss';

$margin-size: 2.5px;

.book-row-container {
  position: relative;
  display: flex;
  left: 0;
  transition: all 0.3s ease-in-out;

  &.expanded {
    left: -195px;
  }

  .actions-container {
    position: absolute;
    right: calc(-185px - #{$margin-size * 2});
    height: 100%;

    .action-button {
      width: 90px;
      position: relative;
      top: 0;
      margin-right: 5px;
      height: calc(100% - #{$margin-size * 2} - 6px);
      margin: $margin-size;

      &.rent {
        background-color: #68df7e;
        box-shadow: 0 6px #4eac60;

        &:active {
          top: 4px;
          box-shadow: 0 2px #4eac60;
        }
      }

      &.info {
        background-color: #31aaee;
        box-shadow: 0 6px #2980b1;

        &:active {
          top: 4px;
          box-shadow: 0 2px #2980b1;
        }
      }
    }
  }

  .book {
    display: flex;
    justify-content: space-between;
    width: calc(100% - (#{$margin-size} * 2));
    padding: 10px;
    margin: $margin-size calc(#{$margin-size} * 2);
    left: 0;

    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: $material-shadow-near;

    cursor: pointer;

    img {
      display: block;
      max-width: 100px;
      max-height: 100px;
      margin-right: 5px;

      border-radius: 5px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 100px);
      margin-left: 5px;

      h2.book-title {
        display: block;
        font-size: 24px;
        font-weight: 700;
      }

      .rent-status {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        color: #818181;

        &.rented {
          color: #e4a312;

          &.overdue {
            color: #d1342a;
          }
        }

        &.available {
          color: #55ab7a;
        }
      }
    }
  }
}
