@import '../../constants/shadows.scss';
@import '../../constants/constants.scss';
@import '../../constants/colors.scss';

.book-row-container {
  position: relative;
  display: flex;
  left: 0;
  transition: all 0.3s ease-in-out;

  &.expanded {
    left: calc(-#{$button-size * 2} - #{$margin-size * 6});;
  }

  .actions-container {
    position: absolute;
    margin: 2.5px 0;
    right: calc(-#{$button-size * 2} - #{$margin-size * 4});
    height: calc(100% - 5px);
  }

  .book {
    display: flex;
    justify-content: space-between;
    width: calc(100% - (#{$margin-size} * 2));
    padding: 10px;
    margin: $margin-size calc(#{$margin-size} * 2);
    left: 0;

    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: $material-shadow-near;

    cursor: pointer;

    img {
      display: block;
      max-width: 100px;
      max-height: 100px;
      margin-right: 5px;

      border-radius: 5px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 90px);
      margin-left: 5px;

      h2.book-title {
        display: block;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}
