.status-text.rent-status {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  color: #818181;

  .progress-bar {
    margin-left: 10px;
    width: 40%;
  }

  &.rented {
    color: #e4a312;

    &.overdue {
      color: #d1342a;
    }
  }

  &.available {
    color: #55ab7a;
  }

  .rentee {
    display: flex;

    span.username {
      margin-left: 5px;
      text-transform: capitalize;
      line-height: 20px;
    }
  }
}
